version: '2'
services:
  nginx:
    image: nginx:latest
    volumes:
      - "./www:/usr/share/nginx/html:ro"
      - "./nginx.conf:/etc/nginx/nginx.conf:ro"
      - "./certs:/usr/share/certs:ro"
    ports:
      - "80:80"
      - "443:443"
  #   links:
  #     - app:app
  #   depends_on:
  #     - app
  # app:
  #   image: repo.treescale.com/igrwijaya/agrito-webapp:dev
