version: '2'
services:
  nginx:
    image: nginx:latest
    volumes:
      - "./www:/usr/share/nginx/html:ro"
      - "./nginx-nossl.conf:/etc/nginx/nginx.conf:ro"
    ports:
      - "80:80"
  app:
    image: devteamsanurkauh/web-api:dev
